        * {
            margin: 0%;
        }

        body{
            
            background-color:#4d4d33;
        }
        
        .container {
            display: grid;
            background-color:#4d4d33;
            flex-wrap: wrap;
        }


        .nav {
            position: sticky;
            top: 0;

        }

        .navi {

            display: flex;
            flex-direction: row;
            font-size: 18px;
            gap: 35px;
            border-radius: 50px;
            width: fit-content;
            height: fit-content;
            padding: 20px;
            color: rgb(190, 187, 187);
            background-color: rgba(88, 84, 45, 0.521);
            border-style: groove;
            border-color: rgba(248, 248, 248, 0.907);
            font-family: 'Courier New', Courier, monospace;
            font-weight: 500;
            margin: 15px;
            box-shadow: 0px 0px 50px 20px rgb(95, 94, 94);

        }

        .navi a {
            text-decoration: none;
            color: aliceblue;
            transition:font-size 1s,color 1s ;
        }
        .navi a:hover{
            font-size: 25px;
            color: aqua;
        }

        .home {

            display: grid;
            grid-template-columns: auto auto;
            /* background-color:#ffbb94; */
            background-color: #4d4d33;
            min-height: 100dvh;
            flex-wrap: wrap;
        }

        .name {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: xxx-large;
            justify-content: flex-start;
            padding: 50px;
            /* grid-row-start: 2; */
            flex-wrap: wrap;
            margin: 40px;
            margin-top: 70px;
            height: fit-content;
        }
        .name h2{
            transition: font-size 1s,color 1s;
            color: rgb(244, 214, 123);

        }
        .name h2:hover{
            font-size: 75px;
            color: bisque;
        }
        
        .name p {
            color: rgb(192, 185, 185);
            flex-wrap: wrap;

        }

        .name span {
            color: rgb(124, 235, 252);
        }

        .image {
            justify-content: center;
            align-content: end;
            /* grid-row-start: 2; */
            margin-bottom: 0px;

        }

        .image img {
            width: fit-content;
            height: 700px;
        }
        .about {
            display: grid;
            grid-template-columns: auto auto;
            background-color:#3d3d29;
            min-height: 100dvh;
        }

        .image2 {
            place-content: center;
            align-content: end;
            margin-bottom: 0;
        }

        .image2 img {
            width: fit-content;
            height: 700px;

        }

        .abouttxt {
            place-content: center;
            /* display: grid; */
            /* flex-direction: column; */
            /* grid-column-start: 3; */
        }

        .about h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: xx-large;
            /* margin-left: 150px; */
            color: rgb(255, 255, 255);
            height: fit-content;
            /* padding: 50px; */
            margin: 50px; 




        }

        .about p {
            font-size: large;
            align-content: center;
            margin: 50px;
            font-family: 'Courier New', Courier, monospace;
            color: beige;

        }

        .skill {
            display: grid;
            grid-template-columns: auto auto;
            /* grid-template-rows: 1fr 2fr; */
            justify-content: space-around;
            background-color:#2e2e1f;
            min-height: 100dvh;
        }

        .skill h2 {
            margin-top:30px ;
            grid-column: span 2;
            font-family: fantasy;
            font-size: 60px;
            color: rgb(49, 48, 45);
            padding: 50px;
            justify-self: end;
            height: fit-content;
            border: 1px solid rgb(235, 108, 108);
            border-radius: 40px;
            background-color: rgb(247, 248, 189);
            box-shadow: 20px 20px 10px rgb(103, 102, 102);
        }

        .tech {
            background-color: rgba(255, 255, 255, 0.5);
            /* grid-row-start: 2; */
            /* grid-column-start: 0; */
            border-radius: 15px;
            padding: 50px;
            font-size: x-large;
            height: fit-content;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            /* min-width: 400px;
            max-width: 400px; */
            box-shadow: 20px 20px 10px rgb(49, 48, 48);
        }

        .tech h3 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 30px;
            color: rgb(236, 236, 236);
        }

        .tech{
            list-style-type: none;
            color: rgb(21, 18, 18);
        }

        .soft {
            background-color: rgba(245, 245, 245, 0.5);
            /* grid-row-start: 2; */
            /* grid-column-start: 3; */
            height: fit-content;
            border-radius: 15px;
            padding: 50px;
            font-size: x-large;
            /* min-width: 400px;
            max-width: 400px; */
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            box-shadow: 20px 20px 10px rgb(38, 38, 38);

        }

        .soft h3 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 30px;
            color: rgb(255, 255, 255);
        }

        .soft {
            color: rgb(19, 19, 19);
        }

        .project {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-around;
            /* background-color:#a33757; */
            background-color:#1f1f14;
            min-height: 100dvh;
        }

        .project h2 {
            margin-top: 30px;
            /* grid-column-start: 2; */
            grid-column: span 2;
            font-family: fantasy;
            font-size: 60px;
            color: rgb(7, 134, 106);
            padding: 50px;
            justify-self: start;
            height: fit-content;
            border: 1px solid rgb(235, 108, 108);
            border-radius: 40px;
            background-color: rgb(250, 253, 241);
            box-shadow: 20px 20px 10px rgb(69, 68, 68);
            margin-left: 40px;
            margin-top: 85px;
        }
        .project p{
            color: aliceblue;
        }

         .pro1 img{
            padding: 50px;
            width: 700px;
         }
        .pro2 {
            height: fit-content;
            padding: 55px;
            font-size: x-large;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .pro2 h3 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 30px;
            color: rgb(162, 234, 250);
        }

        .contact {
            display: grid;
            grid-auto-flow: column;
            background-color: #0f0f0a;
            min-height: 100dvh;
            align-content: center;
            justify-content: space-around;
            /* gap: 40px; */
        }

        /* .con {
            display: grid;
            justify-content: center;
            background-color: rgba(73, 100, 93, 0.662);
            color: rgb(162, 224, 221);
            font-size: xx-large;
            width: fit-content;
            border-radius: 10px;
        } */

        .footer {
            background-color: rgb(0, 0, 0);
            flex-direction: column;
            padding: 50px;
            color: rgb(255, 243, 155);
            font-family: monospace;
            font-size: 20px;
            width: fit-content;
            height: 300px;
            border-radius: 20px;
            box-shadow: 0px 0px 50px 20px rgb(139, 240, 206);

        }
        .footer p{
            color: #adddf5;
        }

        .footer a {
            display: inline-flex;
            flex-direction: column;
            text-decoration: none;
            width: fit-content;
        }

        .im {
            height: 50px;
            width: 50px;
        }

        .imm {
            height: 50px;
            width: 50px;
        }
        .fill{

            background-color: rgb(0, 0, 0);
            flex-direction: column;
            padding: 50px;
            color: rgb(255, 243, 155);
            font-family: monospace;
            font-size: 20px;
            width: 400px;
            height: 300px;
            border-radius: 20px;
            box-shadow: 0px 0px 50px 20px rgb(139, 240, 206);

        }
        .fill h6{
            font-size: larger;
        }
        .fill .item{
            justify-content: center;
            color: #adddf5;
        }
        .fill input{
            width: stretch;
            height: 25px;
            background-color: azure;

        }
        .fill textarea{
            width: stretch;
            height: 70px;
            background-color: beige;
        }
        .item .btn{
            justify-self: center;
        }
        .btn button{
            width: 100px;
            height: 30px;
            background-color: aqua;
            color: rgb(21, 18, 18);
            font-size: medium;
            font-weight: bold;
            border-radius: 6px;
        }
        

        @media screen and (max-width: 600px)and (max-height: 100dvh) {

            .container{
                display: flex;
                flex-direction: column;
            }    
            .home {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 100dvh;
                min-height: 190dvh;
                justify-content: center;
            }
            .home img{
                height: 800px;
            }
            

            .about {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                min-height: 160dvh;
                justify-content: center;
            }
            .abouttxt p{
                font-size: x-large;
            }

            .skill {
                display: flex;
                flex-direction: column;
                /* flex-wrap: wrap; */
                min-height: 200dvh;
            }

            .project {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                min-height: 200dvh;
            }
            .contact {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                min-height: 200dvh;
                align-content: space-evenly;
            }
        }

        @media screen and (min-width:600px) and (max-width: 100dvh) {
            .home {
                height: 100dvh;
            }
            .about {
                height: 100dvh;
            }
            .skill {
                height: 100dvh;
            }
            .project {
                height: 100dvh;
            }
            .project {
                height:100dvh;
            }
            .image{
                align-items: center;
            }
        }